name: Delete Preview Branch on Neon

on:
    pull_request:
        types: [closed]

env:
    NEON_API_KEY: ${{ secrets.NEON_API_KEY }}
    NEON_PROJECT_ID: ${{ secrets.NEON_PROJECT_ID }}

jobs:
    delete-preview:
        runs-on: ubuntu-latest
        steps:
            - uses: oven-sh/setup-bun@v2

            - name: Delete Neon Branch
              run: bunx neonctl branches delete preview/pr-${{ github.event.number }}-${{ github.event.pull_request.head.ref }} --project-id ${{ vars.NEON_PROJECT_ID }}
              env:
                  api_key: ${{ env.NEON_API_KEY }}
