name: Deploy Preview

on: [pull_request]

permissions: write-all

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v9.0.2

      - name: Create Neon Branch
        id: create-branch
        uses: neondatabase/create-branch-action@v6.3.0
        with:
          api_key: ${{ secrets.NEON_API_KEY }}
          project_id: ${{ vars.NEON_PROJECT_ID }}
          branch_name: preview/pr-${{ github.event.number }}-${{ steps.branch-name.outputs.current_branch }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Migrations
        run: pnpm run db:generate && pnpm run db:migrate
        env:
          DATABASE_URL: ${{ steps.create-branch.outputs.db_url }}

      - name: Install Netlify CLI
        run: pnpm install -g netlify-cli

      - name: Add .env file
        run: |
          netlify env:list --context deploy-preview --plain >> .env
          echo DATABASE_URL=${{ steps.create-branch.outputs.db_url }} >> .env

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          alias: "preview/pr-${{ github.event.number }}-${{ steps.branch-name.outputs.current_branch }}"
          deploy-message: "Preview for PR #${{ github.event.number }} on branch ${{ steps.branch-name.outputs.current_branch }}"
          fails-without-credentials: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          publish-dir: ".output/public"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
